<% provide(:oldal_cim, 'AnyagKövető') %>

<h1>AnyagKövető</h1>
<h2>Építőanyagok felhasználásának nyomon követését segítő alkalmazás.</h2><br>
<div class="row">
  <div class="col-md-4">
    <span class="glyphicon glyphicon-ok-sign"></span> 
    <br>
    <h3>Használatával rögzíthetjük a projektek építőanyag felhasználását.</h3>
  </div>
  <div class="col-md-4">
    <span class="glyphicon glyphicon-random"></span>
    </br>
    <h3>Összevethetjük a tervezett anyagfelhasználást a ténylegesen az építési helyszínen felhasznált anyagmennyiséggel.</h3>
  </div>
  <div class="col-md-4">
    <span class="glyphicon glyphicon-search"></span>
    </br>
    <h3>Nyomon követhetjük hová, mennyi anyagot szállítottunk ki.</h3>
  </div>
</div>
