<% provide(:oldal_cim, 'AK-Projekt adatok') %>
<p id="notice"><%= notice %></p>

<h2>
  <%= @project.name %>
</h2>

<hr>
<h4>A projektre eddig beszállított anyagok:</h4>


<%= link_to 'Anyag beszállítás', new_project_path, class: "btn btn-primary" %> <hr>
<%= link_to 'Tervezett anyagfelhasználás', project_plans_path(@project), class: "btn btn-default btn-xs" %>