@import "bootstrap";

body { 
  padding-top: 70px; 
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

.col-md-4 {
  text-align: center;
}

.glyphicon {
  font-size: 4.5em;
}

.col-md-3 {
  font-size: 0.8em;
    a {
      margin-right: 8px;
       }
}

.panel-heading h3 {
  margin-top: 10px;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 1.5em;
  margin-top: 0px;
}

.help-inline {
  color: red;
}

.panel-heading {
  .glyphicon {
  font-size: 1.2em;
  }
}

.col-md-12 .panel-body {
  background-color: #a1dc5d;
}

.col-md-4 {
  h6 {
    font-size: 13em;
    font-weight: 900;
  }
}