<h3>A projekt tervezett anyagfelhasználása</h3>

<table class="table">
  <tbody>
    <% @project.plans.each do |plan| %>
      <tr>
        <td><%= plan.item.name + ' ' + (plan.quantity).to_s + ' ' + plan.item.unit.name %></td>
        <td><%= link_to 'Sor szerkesztése', edit_project_plan_path(@project, plan) %></td>
        <td><%= link_to 'Anyag törlése', project_plan_path(@project, plan), method: :delete, data: { confirm: 'Biztosan törlöd a sort?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Új anyag hozzáadása', new_project_plan_path, class: 'btn btn-primary' %>
</p>