<hr>
<div class="row">
  <div class="col-md-3">
    <a href="#">Az alkalmazásról</a>
    <a href="#">Kapcsolat</a>
  </div>  
  <div class="col-md-3 col-md-offset-6">
    <p class="text-right">Készítette: Balogh István</p>
  </div>
</div>